<mat-card>
  <mat-card-title>New Individual Registration</mat-card-title>
  <!--<br/>-->
  <form class="survey-form">
    <div *ngIf="!loginSuccess">
      <!-- <mat-form-field class="full-width">
        <span matPrefix>+91 &nbsp;</span>
        <input matInput type="tel" maxlength="10" minlength="10" placeholder="Phone Number" [(ngModel)]="selectedParams.phone_number" [ngModelOptions]="{standalone: true}">
      </mat-form-field> -->
      <button (click)="login()" mat-raised-button color="primary">Proceed</button>
    </div>

    <app-edit-user *ngIf="loginSuccess" [data]="data" [individualForm]="true"></app-edit-user>
  </form>
</mat-card>
<mat-progress-bar mode="indeterminate" *ngIf="internetFetch"></mat-progress-bar>
