<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
            <!--<mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>-->
        </button>
        <h1 class="example-app-name">Janaseena Member App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a (click)="snav.toggle()" mat-list-item routerLink="{{nav.path}}" routerLinkActive="active-router" *ngFor="let nav of fillerNav">{{nav.name}}</a>
                <a (click)="logout(); snav.toggle()" mat-list-item *ngIf="!isLogout">Logout</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>