<mat-card>
  <mat-card-title>Forgot password</mat-card-title>
  <form *ngIf="!isForgotSuccess">
    <mat-form-field>
      <input matInput [(ngModel)]="email" name="email" placeholder="Enter your email" required>
      <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    <button (click)="submit()" mat-raised-button>Submit</button>
  </form>

  <form *ngIf="isForgotSuccess">
    <p>Please check your email to reset the password</p>
  </form>
  <br/>
  <a routerLink="/login">Back to Login</a>
</mat-card>
