<mat-form-field class="full-width" hintLabel="Max 30 characters" *ngIf="selectedParams.phone_number">
  <input matInput placeholder="Full Name" maxlength="30" [(ngModel)]="selectedParams.name" [ngModelOptions]="{standalone: true}">
  <mat-hint align="end">{{selectedParams.name?.length || 0}}/30</mat-hint>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.name">
  <mat-select placeholder="Select gender" [(value)]="selectedParams.gender_id">
    <mat-option *ngFor="let gender of genders" [(value)]="gender.id">
      {{gender.desc}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width" *ngIf="selectedParams.gender_id">
  <textarea matInput placeholder="Address" maxlength="250" [(ngModel)]="selectedParams.address" [ngModelOptions]="{standalone: true}"></textarea>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.address">
  <mat-select placeholder="Phone number communicate" [(value)]="selectedParams.mobile_phone_communicate_id">
    <mat-option *ngFor="let mobileCommunicate of mobilePhoneCommunications" [(value)]="mobileCommunicate.id">
      {{mobileCommunicate.desc}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.mobile_phone_communicate_id">
  <!--<mat-select placeholder="Select Party" [(value)]="selectedParams.party_id">-->
  <mat-select placeholder="Select Party" [(value)]="selectedParams.party_id" (selectionChange)="clearJSPDetails($event)">
    <mat-option *ngFor="let party of parties" [(value)]="party.id">
      {{party.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.party_id">
  <mat-select placeholder="Select Designation" [(value)]="selectedParams.designation_id">
    <mat-option *ngFor="let designation of designations" [(value)]="designation.id">
      {{designation.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.designation_id">
  <mat-select placeholder="Select Booth No" [(value)]="selectedParams.booth_no_id">
    <mat-option *ngFor="let boothNo of boothNos" [(value)]="boothNo.id">
      {{boothNo.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.booth_no_id">
  <mat-select placeholder="Select Social Group" [value]="selectedParams.social_group_id"
              (selectionChange)="activateSubmitButton($event, 'social_group_id')">
    <mat-option *ngFor="let socialGroup of socialGroups" [(value)]="socialGroup.id">
      {{socialGroup.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.social_group_id && (selectedParams.party_id === jSPPartyId)">
  <mat-select placeholder="Select No Of Voters in family" [(value)]="selectedParams.no_of_voters_in_family">
    <mat-option *ngFor="let noOfVote of noOfVoters" [(value)]="noOfVote">
      {{noOfVote}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="(selectedParams.no_of_voters_in_family !== null) && (selectedParams.party_id === jSPPartyId)">
  <mat-select placeholder="Are you willing to work?" [(value)]="selectedParams.willing_to_work_id">
    <mat-option *ngFor="let willingToWork of willingToWorkOptions" [(value)]="willingToWork.id">
      {{willingToWork.desc}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.willing_to_work_id && (selectedParams.party_id === jSPPartyId)">
  <mat-select placeholder="Select Education" [(value)]="selectedParams.education_id">
    <mat-option *ngFor="let education of educationCategories" [(value)]="education.id">
      {{education.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.education_id && (selectedParams.party_id === jSPPartyId)">
  <mat-select placeholder="Select Age" [(value)]="selectedParams.age_list_id">
    <mat-option *ngFor="let age of ageList" [(value)]="age.id">
      {{age.desc}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedParams.age_list_id && (selectedParams.party_id === jSPPartyId)">
  <mat-select placeholder="Other JSP family willing to come for ocassional meetings only"
              (selectionChange)="activateSubmitButton($event, 'select_other_family_person_id')" [value]="selectedParams.select_other_family_person_id">
    <mat-option *ngFor="let selectFp of selectOtherFamilyPersons" [(value)]="selectFp.id">
      {{selectFp.desc}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-card *ngIf="selectedParams.select_other_family_person_id === selectFamilyId && (selectedParams.party_id === jSPPartyId)">
  <mat-list *ngFor="let person of selectedParams.other_family_members_willing_to_works; let index = index">
    <mat-form-field>
      <mat-card-title-group>Person {{index + 1}}</mat-card-title-group>
      <input matInput placeholder="Name" maxlength="30" minlength="5" [(ngModel)]="person.name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" minlength="10" maxlength="10" placeholder="Phone" [(ngModel)]="person.phone" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-button color="warn" (click)="deleteFamilyPerson(person.id)">Delete</button>
    <mat-divider></mat-divider>
  </mat-list>
  <button mat-button color="primary" (click)="addFamilyPerson()">Add more persons</button>
</mat-card>

<br/>

<button (click)="submit()" mat-raised-button disabled *ngIf="!submitButtonState">Submit</button>
<button (click)="submit()" mat-raised-button color="primary" *ngIf="submitButtonState">Submit</button>
<mat-progress-bar mode="indeterminate" *ngIf="internetFetch"></mat-progress-bar>
