<mat-card>
  <mat-card-title>Member Login</mat-card-title>
  <form>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [(ngModel)]="email" name="email" required>
    <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

    <button (click)="login()" mat-raised-button>Submit</button>
  </form>
  <br/>
  <a routerLink="/forgot-password">forgot password</a>
</mat-card>
