<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Thank you</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a [routerLink]="'/'" *ngIf="!isAuthorized">Back to Registration</a>
    <a [routerLink]="'/dashboard'" *ngIf="isAuthorized">Back to Dashboard</a>
  </mat-card-actions>
</mat-card>
