/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import '~@angular/material/theming'
@import '~material-design-icons/iconfont/material-icons.css'

.mat-form-field
  display: inline !important

.mat-progress-bar
  position: fixed
  top: 0

body
  background-image: url('assets/jenasena_logo.png')
  background-repeat: no-repeat
  height: 600px
  background-position: center
  //background-size: cover

.mat-toolbar.mat-primary
  background: #d62445
  color: #fff

body mat-card a
  color: #d62445 !important