<mat-card *ngIf="!loginSuccess">
  <mat-card-title>Registered Users</mat-card-title>

  <mat-list *ngFor="let user of users">
    <mat-list-item (click)="editUser(user.phone_number)">{{user.name}} ({{user.phone_number}})</mat-list-item>
  </mat-list>
</mat-card>

<br/>
<mat-card>
  <form *ngIf="!loginSuccess">
    <mat-card-title>New User</mat-card-title>
    <br/>
    <mat-form-field class="full-width">
      <input matInput placeholder="Phone Number" min="10" max="10" type='number' [(ngModel)]="newUserPhone" [ngModelOptions]="{standalone: true}">
      <mat-hint align="end">{{newUserPhone?.length}}</mat-hint>
    </mat-form-field>

    <button mat-raised-button (click)="addNewUser()">Add</button>
  </form>

  <app-edit-user *ngIf="loginSuccess" [data]="newUserData" [individualForm]="false"></app-edit-user>
  <button mat-raised-button (click)="cancel()" *ngIf="loginSuccess">Cancel</button>
</mat-card>